<p id="notice"><%= notice %></p>

<h1>Shopers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopers.each do |shoper| %>
      <tr>
        <td><%= shoper.name %></td>
        <td><%= link_to 'Show', shoper %></td>
        <td><%= link_to 'Edit', edit_shoper_path(shoper) %></td>
        <td><%= link_to 'Destroy', shoper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoper', new_shoper_path %>
