<div class="col">
  <div class="container">
        <div class="col card card-body">
          <div class="card">
            <div class="col card card-body">
              <%= image_tag(@product.image_url, class:"mx-auto") %>
              <h5 class="card-title"><%= @product.name %></h5>
              <p class="card-text"><%= @product.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"><%= number_to_currency(@product.price) %></small>
              <div class="form">
                <%= form_with model: @line_item, local: true do |f| %>
                  <%= f.select :quantity, options_for_select([1, 2, 3, 4, 5], @line_item.quantity), class: 'form-control' %>
                  <%= button_to 'Add to Cart', line_items_path(product_id: @product), class: 'btn btn-primary' %>
                <% end  %>
              </div>
            </div>
          </div>
        </div>
    <%= link_to 'Back', products_path %>
  </div>
</div>




